.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(240, 238, 238, 0.308);
}

.modal {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 50%;
  background-color: rgb(49, 48, 48);
  padding: 1rem;
  animation: slide-down 300ms ease-out forwards;
  max-height: 100%;
  overflow: scroll;
}
